/*公共样式--开始*/
html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, form, input, textarea, th, td, select {
    margin: 0;
    padding: 0;
}
/*html5*/
article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block}
*{ margin: 0; padding: 0;}
html, body {
    min-height: 100%;
}

body {
    font-family: "Microsoft YaHei";
    color:#565966;
    font-size: 16px;
    background-color: #F5F5F5;
}
h1, h2, h3, h4, h5, h6{font-weight:normal;}
ul,ol {
    list-style: none;
}

img {
    border: none;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: #000;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
}

input, textarea {
    outline: none;
    border: none;
}

textarea {
    resize: none;
    overflow: auto;
}

@font-face {
  font-family: 'iconfont';  /* project id 712429 */
  src: url('//at.alicdn.com/t/font_712429_dj92edccyo5.eot');
  src: url('//at.alicdn.com/t/font_712429_dj92edccyo5.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_712429_dj92edccyo5.woff') format('woff'),
  url('//at.alicdn.com/t/font_712429_dj92edccyo5.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_712429_dj92edccyo5.svg#iconfont') format('svg');
}


.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before { content: "\e632"; }
.icon-earth:before { content: "\e638"; }
.icon-sign:before{ content: "\e613"; }
.icon-qq:before{ content: "\e622"; }
.icon-weix:before{ content: "\e606"; }


.color-b7b9ba{ color: #b7b9ba; }
.color-666{ color: #666; }
.color-999{ color: #999; }
.color-bde4f4{ color: #bde4f4; }
.color-ff7{ color: #ff7f50; }
.d4{ color: #d4d4d4; }
.hei{color: #000000;}
.bgf7{ background: #f7f7f7; }
.color-000{ color: #000; }
.bghui{background: #F9F9F9!important;}
.bgbai{background: #FFFFFF!important;}


.aline{ text-decoration:underline; }
.btn{ background: #404969; color: #FFFFFF; border: 1px solid #404969; }
.btn:hover{ cursor: pointer;}
.btnUnchecked{ background:#FFFFFF; border: 1px solid #404969; color: #404969;}
.btnUnchecked:hover{ cursor: pointer; }
.text_indent{text-indent:2rem;}
.letter_spacing_2{ letter-spacing:2px; }
.hide{ display: none; }
.bold{ font-weight: bold; }

.container{width: 1200px; margin: auto;}
.flex{display: flex;}
.between{ justify-content: space-between; }
.around{ justify-content: space-around; }
.rowcenter{justify-content: center;}
.acenter{ align-items: center; }
.column{flex-direction: column;}
.warm{flex-wrap: wrap;}
.flex-end{ justify-content: flex-end; }
.baseLine{align-items: baseline;}
.text-center{text-align: center;}
.text-right{text-align: right;}
.text-left{text-align: left;}
.lHeight_25{ line-height: 25px!important; }
.lHeight_35{ line-height: 35px!important; }
.line{ width: 100%; height: 1px; background: #d4d4d4; }
.fz_12{font-size: 12px!important;}
.fz_14{font-size: 14px!important;}
.fz_16{font-size: 16px;}
.fz_18{ font-size: 18px; }
.fz_20{font-size: 20px;}
.fz_22{font-size: 22px!important;}
.fz_24{font-size: 24px!important;}
.fz_30{font-size: 30px!important;}
.pdAll_15{ padding: 15px!important; }
.pdAll_20{ padding: 20px!important; }
.pdAll_30{ padding: 30px!important; }
.mb-0 {margin-bottom: 0px!important;}
.mt-0 {margin-top: 0px!important;}
.mt-5 {margin-top: 5px!important;}
.mt-10 {margin-top: 10px!important;}
.mt-15 {margin-top: 15px!important;}
.mt-25 {margin-top: 25px!important;}
.mb-5 {margin-bottom: 5px!important;}
.mb-10 {margin-bottom: 10px!important;}
.mb-15 {margin-bottom: 15px!important;}
.mb-20 {margin-bottom: 20px!important;}
.mb-30 {margin-bottom: 30px!important;}
.mb-40 {margin-bottom: 40px!important;}
.mb-50 {margin-bottom: 50px!important;}
.mb-100 {margin-bottom: 100px!important;}
.mt-15 {margin-top: 15px!important;}
.mt-20 {margin-top: 20px!important;}
.mt-30 {margin-top: 30px!important;}
.mt-40 {margin-top: 40px!important;}
.mt-50{margin-top: 50px!important;}
.mt-80{margin-top: 80px!important;}
.ml-5 {margin-left: 5px!important;}
.ml-10 {margin-left: 10px!important;}
.ml-15 {margin-left: 15px!important;}
.ml-20 {margin-left: 20px!important;}
.ml-30 {margin-left: 30px!important;}
.ml-40 {margin-left: 40px!important;}
.ml-50 {margin-left: 50px!important;}
.ml-60 {margin-left: 60px!important;}
.ml-70 {margin-left: 70px!important;}
.ml-80 {margin-left: 80px!important;}
.mr-5 {margin-right: 5px!important;}
.mr-10 {margin-right: 10px!important;}
.mr-15 {margin-right: 15px!important;}
.mr-20 {margin-right: 20px!important;}
.mr-25{ margin-right: 25px!important; }
.mr-30 {margin-right: 30px!important;}
.mr-40 {margin-right: 40px!important;}
.mr-50 {margin-right: 50px!important;}
.mr-100 {margin-right: 100px!important;}
.bb-0 {border-bottom: 0!important;}
.pt-0 {padding-top: 0!important;}
.pt-5 {padding-top: 5px!important;}
.pt-10 {padding-top: 10px!important;}
.pt-20 {padding-top: 20px!important;}
.pt-25 {padding-top: 25px!important;}
.pt-30 {padding-top: 30px!important;}
.pt-40 {padding-top: 40px!important;}
.pl-5 {padding-left: 5px!important;}
.pl-10 {padding-left: 10px!important;}
.pl-15 {padding-left: 15px!important;}
.pl-20 {padding-left: 20px!important;}
.pl-25 {padding-left: 25px!important;}
.pl-30 {padding-left: 30px!important;}
.pl-50 {padding-left: 50px!important;}
.pr-10 {padding-right: 10px!important;}
.pr-15 {padding-right: 15px!important;}
.pr-20 {padding-right: 20px!important;}
.pr-25 {padding-right: 25px!important;}
.pr-30 {padding-right: 30px!important;}
.pr-50 {padding-right: 50px!important;}
.pb-10{padding-bottom: 10px!important;}
.pb-20{padding-bottom: 20px!important;}
.pb-25{padding-bottom: 25px!important;}
.pb-30{padding-bottom: 30px!important;}
.pb-40{padding-bottom: 40px!important;}
.pb-50{padding-bottom: 50px!important;}
.w_1{ width: 1%!important; }
.w_2{ width: 2%!important; }
.w_3{ width: 3%!important; }
.w_4{ width: 4%!important; }
.w_5{ width: 5%!important; }
.w_6{ width: 6%!important; }
.w_7{ width: 7%!important; }
.w_8{ width: 8%!important; }
.w_9{ width: 9%!important; }
.w_10{ width: 10%!important; }
.w_11{ width: 11%!important; }
.w_12{ width: 12%!important; }
.w_14{ width: 13%!important; }
.w_15{ width: 15%!important; }
.w_16{ width: 16%!important; }
.w_17{ width: 17%!important; }
.w_18{ width: 18%!important; }
.w_19{ width: 19%!important; }
.w_20{ width: 20%!important; }
.w_21{ width: 21%!important; }
.w_22{ width: 22%!important; }
.w_23{ width: 23%!important; }
.w_24{ width: 24%!important; }
.w_25{ width: 25%!important; }
.w_26{ width: 26%!important; }
.w_27{ width: 27%!important; }
.w_28{ width: 28%!important; }
.w_29{ width: 29%!important; }
.w_30{ width: 30%!important; }
.w_31{ width: 31%!important; }
.w_32{ width: 32%!important; }
.w_33{ width: 33%!important; }
.w_34{ width: 34%!important; }
.w_35{ width: 35%!important; }
.w_36{ width: 36%!important; }
.w_37{ width: 37%!important; }
.w_38{ width: 38%!important; }
.w_39{ width: 39%!important; }
.w_40{ width: 40%!important; }
.w_41{ width: 41%!important; }
.w_42{ width: 42%!important; }
.w_43{ width: 43%!important; }
.w_44{ width: 44%!important; }
.w_45{ width: 45%!important; }
.w_46{ width: 46%!important; }
.w_47{ width: 47%!important; }
.w_48{ width: 48%!important; }
.w_49{ width: 49%!important; }
.w_50{ width: 50%!important; }
.w_51{ width: 51%!important; }
.w_52{ width: 52%!important; }
.w_53{ width: 53%!important; }
.w_54{ width: 54%!important; }
.w_55{ width: 55%!important; }
.w_56{ width: 56%!important; }
.w_57{ width: 57%!important; }
.w_58{ width: 58%!important; }
.w_59{ width: 59%!important; }
.w_60{ width: 60%!important; }
.w_61{ width: 61%!important; }
.w_62{ width: 62%!important; }
.w_63{ width: 63%!important; }
.w_64{ width: 64%!important; }
.w_65{ width: 65%!important; }
.w_66{ width: 66%!important; }
.w_67{ width: 67%!important; }
.w_68{ width: 68%!important; }
.w_69{ width: 69%!important; }
.w_70{ width: 70%!important; }
.w_71{ width: 71%!important; }
.w_72{ width: 72%!important; }
.w_73{ width: 73%!important; }
.w_74{ width: 74%!important; }
.w_75{ width: 75%!important; }
.w_76{ width: 76%!important; }
.w_77{ width: 77%!important; }
.w_78{ width: 78%!important; }
.w_79{ width: 79%!important; }
.w_80{ width: 80%!important; }
.w_81{ width: 81%!important; }
.w_82{ width: 82%!important; }
.w_83{ width: 83%!important; }
.w_84{ width: 84%!important; }
.w_85{ width: 85%!important; }
.w_86{ width: 86%!important; }
.w_87{ width: 87%!important; }
.w_88{ width: 88%!important; }
.w_89{ width: 89%!important; }
.w_90{ width: 90%!important; }
.w_91{ width: 91%!important; }
.w_92{ width: 92%!important; }
.w_93{ width: 93%!important; }
.w_94{ width: 94%!important; }
.w_95{ width: 95%!important; }
.w_96{ width: 96%!important; }
.w_97{ width: 97%!important; }
.w_98{ width: 98%!important; }
.w_99{ width: 99%!important; }
.w_100{ width: 100%!important; }